<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
    <nav>
        <h3>EM Site</h3>
        <ul>
            <li><a href="/">Home</a></li>
            {{ range .Site.Sections }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </nav>

    <main>
        <h1>{{ .Title }}</h1>
        <div>{{ .Content }}</div>
    </main>
</body>
</html>
