<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
    <nav>
        <ul>
            <img src="/EM%20LOGO.png" alt="EM Logo" width="150" />
            <li><a href="/">Home</a></li>
            <li><a href="/paleolithic/">Paleolithic</a></li>
            <li><a href="/personas/">Personas</a></li>
            <li><a href="/podcasts/">Podcasts</a></li>
            <li><a href="/potential/">Potential</a></li>
            <li><a href="/present/">Present</a></li>
            <li><a href="/prologue/">Prologue</a></li>
            <li><a href="/praxis/">Praxis</a></li>
            
        </ul>
    </nav>
    <main>
        <h1>{{ .Title }}</h1>
        <div>{{ .Content }}</div>  <!-- Displays the content of _index.md if it exists -->
        <ul>
            {{ range .Pages.ByDate.Reverse }}
            
             # {{ .Title }}
                <p>{{ .Date.Format "January 2, 2006" }}</p>
                <div>{{ .Content }}</div> <!-- Displays the full content of each page -->
            
            {{ end }}
        </ul>
    </main>
</body>
</html>
