<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
    <nav>
        <ul>
            <img src="/EM%20LOGO.png" alt="EM Logo" width="25" />
            <a href="/">Home</a>
            <a href="/paleolithic/">Paleolithic</a>
            <a href="/personas/">Personas</a>
            <a href="/podcasts/">Podcasts</a>
            <a href="/potential/">Potential</a>
            <a href="/present/">Present</a>
            <a href="/prologue/">Prologue</a>
            <a href="/praxis/">Praxis</a>
        </ul>
    </nav>
    <main>
        <h1>{{ .Title }}</h1>
        <div>{{ .Content }}</div>  <!-- Displays the content of _index.md if it exists -->
        <ul>
            {{ range .Pages.ByDate.Reverse }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <p>{{ .Date.Format "January 2, 2006" }}</p>
                <div>{{ .Content }}</div> <!-- Displays the full content of each page -->
            </li>
            {{ end }}
        </ul>
    </main>
</body>
</html>
